@import "tailwindcss";


@font-face {
    font-family: gristela;
    src: url(../src/assets/fonts/gristela.otf)format('woff2'),;
    font-display: swap;

}
@font-face {
    font-family: moonet;
    src: url(../src/assets/fonts/Moonet.woff2) format('woff2'),;
    font-display: swap;

}
.swiper-button-next, .swiper-button-prev {
    color: #36946d; 
  }
  
.swiper-pagination {
    bottom: 10px; 
  }
  
 
  /* Active dot */
  .swiper-pagination-bullet-active {
    background-color: #bfa06b; 
    opacity: 1; 
  }
  .card-image {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
  }
  
  @media (min-width: 768px) {
    .card-image {
      height: 240px;
    }
  }
  
  @media (min-width: 1024px) {
    .card-image {
      height: 180px;
    }
  }
  

  html {
    scroll-behavior: smooth;
  }
  input:-webkit-autofill,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #1a1a1a inset; 
  -webkit-text-fill-color: #fff; 
  transition: background-color 5000s ease-in-out 0s;
}
